
:root{
    --brand: #B91F33;
    --primary: #101417;
    --contrast: #E0E34C;
    --gray-light: #E1E1E1;
    --gray-medium: #666666;
    --white: #FFFFFF;
    --black: #000000;
    --radius: 3px;    
    
    /*cor padrão do swiper*/
    --swiper-theme-color: var(--brand);
}

#academia, #contato{
    scroll-margin-top: 200px;
}


#planos{
    scroll-margin-top: 150px;
}

*{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase; /*converte o texto para maiúsculo*/    
}

html{
    /*faz com que a navegação em âncora fique suave*/
    scroll-behavior: smooth;
}

body{    
    margin: 0; /*retirando a margem padrão do body*/        
    background-color: var(--primary);
    overflow-x: hidden; /*esconde a barra de rolagem horizonta*/
}

img{
    display: block;
}

a{
    text-decoration: none; /*retirando o sublinhado dos links*/
}

h1, h2, h3, h4, h5, h6{
    margin: 0;        
}

p{
    color: var(--gray-light);
    line-height: 120%;
    font-size: 18px;
}

h2{
    font-size: 40px;
    color: var(--white);
    line-height: 100%;
}

.bg-popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1001;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.bg-popup-close{
    display: none;
}

.popup{
    position: relative;
}

.popup img{
    max-width: 100%;
}

.close{
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: -40px;
}



.container{
    width: 100%;
    max-width: 1170px; /*largura máxima (1140 + 30 do)*/
    /*centralizar o container*/
    margin-left: auto;
    margin-right: auto;    
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    width: 100%; /*largura*/
    height: auto; /*altura*/

    /*espaçamento interno*/
    padding-top: 16px;
    padding-bottom: 16px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/*formatando o container que está dentro do header*/
.header .container{    
    /*
        FLEXBOX: Conjunto de propriedades CSS para organização de Layout
    */
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between; /*alinhamento horizontal*/
}

.menu a{
    color: var(--white);
    margin-left: 111px;    
    font-size: 18px;
    font-weight: 700;    
}

/*ao passar o mouse nos links do menu*/
.menu a:hover{
    color: var(--brand);    
}

.bx-wrapper{
    border: none;
    box-shadow: none;
}

.bg-1{
    background-image: url(../img/background.jpg);
}

.bg-2{
    background-image: url(../img/background-2.jpg);
}

.bg-3{
    background-image: url(../img/background-3.jpg);
}

.hero-section{      
    background-size: cover;
    background-position: center center;
    /*VH (view height) unidade de medida baseada no navegador*/
    /*calc() -> função para realizar um cálculo*/
    height: calc(100vh - 100px);    

    display: flex !important;
    align-items: center;
    text-align: center;
    color: var(--gray-light);
}

.hero-section h1, .hero-section h2{    
    font-size: 96px;
    line-height: 90%;    
}

.hero-section p{
    font-size: 24px;
}

.btn{
    color: var(--white);
    background-color: var(--brand);    
    font-size: 18px;

    /*padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 9px;
    padding-left: 60px;*/
    padding: 9px 60px 5px 60px; /*top right bottom left*/
    border-radius: 3px;
    display: inline-block;
    transition: 0.2s;
    border: 2px solid transparent;
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.95);
}

.btn-outline{
    background-color: transparent;
    border: 2px solid var(--brand);
}

.btn-block{
    display: block;
}

.nossa-academia{
    display: flex;
    align-items: center;
    column-gap: 24px; /*espaço entre as colunas do flex*/
    margin-top: 100px;
    margin-bottom: 100px;    
    
}

.faca-parte{
    background-color: var(--gray-light);        
}

.faca-parte .content{
    width: calc(100% - 200px);
    max-width: 850px;
}

.faca-parte h2{
    color: var(--primary);
}

.faca-parte p{
    color: var(--gray-medium);
}

.faca-parte .container{
    position: relative; /*servir de referência para o position:absolute*/
    padding-top: 37px;
    padding-bottom: 37px;    
}

.faca-parte .image{
    /*Posição em relação ao elemento PAI (desde que ele tenha position), 
    caso contrário será em relação ao body*/
    position: absolute;    
    bottom: 0;
    right: 0;
}

.nossos-planos{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.flex-cards{
    display: flex;
    column-gap: 24px;
}

.card{
    /*border-width: 1px;
    border-color: var(--gray-light);
    border-style: solid;*/
    border: solid 1px var(--gray-light);
    border-radius: var(--radius);
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.30);
}


.card-destaque > span{
    color: var(--contrast) !important;
}

/* pai > filho{} todos os descendentes diretos do pai*/
.card h3, .card > span{
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
}

.card ul{
    color: var(--gray-light);
    text-align: left;
    font-size: 18px;
    padding: 0;
    list-style-position: inside;
}

.card .btn{
    display: block;
}

.card-destaque{
    border-color: var(--contrast);
    position: relative; /*servir de referência para o position:absolute*/
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }  
    
    50%{
        transform: rotate(45deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}

.selo{
    animation: rotate 5s infinite linear;
    width: 70px;
    height: 70px;
    background-color: var(--contrast);
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90%;
}

.fale-conosco{
    display: flex;
    column-gap: 24px;
    margin-bottom: 100px;
}

.contato input, .contato textarea{
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: solid 1px var(--gray-light);
    border-radius: var(--radius);
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--white);
    /*faz com que as dimensões sejam mantidas mesmo com padding e border*/
    box-sizing: border-box;
}

.contato textarea{
    height: 140px;
    padding-top: 10px;
}

.footer{
    background-color: var(--brand);
    padding: 14px 194px 10px 194px; /*top right bottom left*/
    text-align: center;
}

.footer p{
    margin: 0;  
    color: var(--white);  
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.social img:hover{
    filter: contrast(120%);
}


/*MEDIA QUERIES*/

/*Para larguras de até 1200*/
@media (max-width: 1200px){
    
    h2{
        font-size: 32px;
    }
    .header{
        background-color: var(--black);   
    }

    .menu{
        /*display: none;*/
        /*opacity: 0;
        pointer-events: none;*/
        transform: translateX(-100%);        

        background-color: var(--black);          
        position: absolute;
        top: 100px;
        left: 0;      
        width: 100%;  
        height: calc(100vh - 100px);
        transition: 0.3s ease-out;
    }

    .menu-open{
        /*display: block;*/        
        /*opacity: 1;
        pointer-events: all;*/
        transform: translateX(0);
    }

    .menu a{
        display: block;
        margin-left: 0;
        padding: 30px 15px 25px 15px;
        border-bottom: 1px solid var(--primary);
    }

    /*ao clicar*/
    .menu a:active{
        color: var(--contrast);        
    }

    /* .btn-menu{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    } */

    .bar{
        width: 40px;
        height: 3px;
        background-color: var(--white);
        margin-bottom: 3px;
        transition: 0.3s;
    }

    /*bar que for o primeiro filho*/
    .x .bar:first-child{
        transform: rotate(45deg) translate(5px,5px);
    }

    /*bar que for o filho de número 2*/
    .x .bar:nth-child(2){
        opacity: 0;
        transform: translateX(-100px);
    }

    /*bar que for o último filho*/
    .x .bar:last-child{
        transform: rotate(-45deg) translate(4px,-2px);
    }
    
    .hero-section{
        height: 420px;        
    }

    .hero-section .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .hero-section h1, .hero-section h2{
        font-size: 36px;
    }

    .hero-section p{
        font-size: 18px;
    }

    .nossa-academia img{
        width: 400px;
    }    

    .flex-cards{
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .card{
        max-width: 400px;
    }

    .fale-conosco{
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 60px;
    }

    .fale-conosco iframe{
        width: 100%;
    }

    .footer{
        padding: 15px;        
    }

}

@media (max-width: 767px){
    .nossa-academia{
        flex-direction: column;
        row-gap: 40px;
    }

    .nossa-academia img{
        max-width: 100%;
    }
}

@media (max-width: 580px){

    .faca-parte .image{
        display: none;
    }

    .faca-parte .content{
        width: 100%;
    }

}